<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类列表页面</title>
</head>
<body>
<h1>分类列表</h1>
<table>
    <thead>
    <th>序号</th>
    <th>镖旗</th>
    <th>操作</th>

    </thead>
    <tbody>
    {% for tag in tags %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ tag.title }}</td>
            <td>
                <a href="/artapp/tags?id={{ tag.id }}">编辑</a>

            </td>
        </tr>
    {% endfor %}

    </tbody>
    <tfoot>
    <td>
        <button>新增</button>
    </td>
    <td colspan="2" align="right">
        &gt;&gt; 1 2 3 4 &lt;&lt;
    </td>
    </tfoot>
</table>

</body>
</html>